aws_region = "" # your AWS region

credentials_profile = "" # your AWS credentials profile

ses_rule_set_name = "" # name for your SES rule set

table_name = "" # name for your DynamoDB table used to store Kindle highlights

email_recipients = [] # list of emails allowed to receive Kindle highlights. Leave blank to allow all emails from your verified domains.